*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body{
    min-height: 100vh
}

.header , .hero{
    background-color: #1F2937;
}

.header h3, .header a {
    color: white;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.header-links{
    display: flex;
    gap: 20px;
}

.hero h1, .hero p , .hero img{
    color: white;
}

img{
    width: 500px;
    height: 300px;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    gap: 30px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
}

.hero-text  button{
    background-color: #3882f6 ;
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    width: fit-content;
}

.hero-text h1{
    font-size: 48px;
    color: #f9faf8;
}

.box{
    border: #3882f6 solid 3px;
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.extra-information{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
    padding:50px;
}

.extra-information h2{
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
}

.cards p{
    line-height: 2.0;
    max-width: 21ch;
    text-align: center;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}